.module-title {
  padding: 24px 16px 12px;
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  color: #2F3742;
  
  .title-tips {
    margin-left: 6px;
    color: #999;
    font-size: 12px;
  }
}

