.ui-text-empty {
	min-height: 100px;
	white-space: nowrap;
	display: -webkit-box;
	display: flex;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column
}

.ui-text-empty-inner {
	margin: 0 auto;
	text-align: center
}

.ui-text-empty-pic {
	width: 20px;
	height: 20px;
	vertical-align: middle
}

.ui-text-empty-desc {
	font-size: 14px;
	color: #95a1af;
	padding-left: 8px
}

.ui-text-empty-refresh {
	font-size: 14px;
	color: #2f5aff;
	text-decoration: none
}

.ui-text-empty-no-more {
	width: 100%;
	text-align: center;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	overflow: hidden;
	height: 27px
}

.ui-text-empty-no-more-img {
	display: block;
	width: 100%;
	background-image: url(https://n1image.hjfile.cn/res7/2018/08/10/a472c5ea346c9cd289d58d0790fab1e8.png);
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 100%;
	background-position: 50%
}

.ui-text-empty .ui-cclogo-loading {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle
}

.ui-text-empty .ui-cclogo-loading .ui-cclogo-loading-icon {
	width: 20px;
	height: 20px
}

.ui-text-empty .ui-cclogo-loading+.ui-text-empty-desc {
	padding-left: 5px
}

.hyaline-status-bar_2m30 {
	min-height: 20px;
	min-height: env(safe-area-inset-top)
}

@media (min-width:1px) {
	.hyaline-status-bar_2m30 {
		min-height: constant(safe-area-inset-top)
	}
}

@media (min-width:2px) {
	.hyaline-status-bar_2m30 {
		min-height: env(safe-area-inset-top)
	}
}

.integral-sign-in-page_qD_f,.integral-sign-in-page_qD_f>body {
	background-color: #fff
}

.integral-sign-in-page_qD_f .ui-robin-page-loading {
	margin-top: 100px
}

.integral-sign-in-page_qD_f .ui-dialog-mask {
	background-color: rgba(0,0,0,.7)
}

.integral-sign-in-page_qD_f .ui-dialog-main {
	border-radius: 8px
}

.integral-sign-in-page_qD_f .ui-robin-header-back {
	display: none
}

.integral-sign-in-page_qD_f .ui-robin-header-share {
	cursor: pointer
}

.integral-sign-in-page_qD_f .ui-robin-header-title {
	margin-left: 40px
}

.task-container_3gU5 {
	margin-top: 24px;
	padding: 0 16px
}

.task-title_1T2d {
	height: 28px;
	font-size: 20px;
	font-weight: 500;
	color: #2f3742;
	line-height: 28px;
	margin-bottom: 18px
}

.task-title_1T2d .c-letter_3nvY {
	color: #ff852e
}

@media (min-width:768px) {
	.task-list_1sHU {
		display: -webkit-box;
		display: flex;
		-webkit-box-pack: justify;
		justify-content: space-between;
		-webkit-box-pack: start;
		justify-content: flex-start
	}
}

.title-container_ZKIp {
	height: 20px;
	line-height: 20px;
	-webkit-box-align: center;
	align-items: center
}

.desc-container_3TkS,.title-container_ZKIp {
	display: -webkit-box;
	display: flex
}

@media (min-width:768px) {
	.desc-container_3TkS {
		margin-top: 3px
	}
}

.task-item_oY99 {
	position: relative;
	margin-bottom: 26px
}

@media (min-width:768px) {
	.task-item_oY99 {
		padding: 30px 0 6px;
		margin: 12px 20px 24px 0;
		width: 233px;
		height: 135px;
		background: #fff;
		box-shadow: 0 1px 6px 0 #ecedf2;
		border-radius: 8px;
		display: -webkit-box;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-webkit-box-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		justify-content: space-between
	}
}

.task-info_3jEf {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center
}

.image_nLYU {
	width: 44px;
	height: 44px;
	object-fit: cover
}

@media (max-width:320px) {
	.image_nLYU {
		width: 36px;
		height: 36px
	}
}

@media (min-width:768px) {
	.image_nLYU {
		position: absolute;
		top: -22px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%)
	}
}

.task-desc_3WWZ {
	margin-left: 8px
}

@media (max-width:320px) {
	.task-desc_3WWZ {
		margin-left: 5px
	}
}

@media (min-width:768px) {
	.task-desc_3WWZ {
		display: -webkit-box;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-webkit-box-align: center;
		align-items: center
	}
}

.title_1txO {
	max-width: 206px;
	height: 20px;
	font-size: 15px;
	font-weight: 400;
	color: #2f3742;
	line-height: 20px
}

@media (max-width:320px) {
	.title_1txO {
		font-size: 14px
	}
}

.desc_21nZ {
	max-width: 232px;
	height: 16px;
	font-size: 12px;
	font-weight: 400;
	color: #95a1af;
	line-height: 16px
}

@media (min-width:768px) {
	.desc_21nZ {
		font-size: 13px
	}
}

.add-balance_3clp {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center
}

@media (min-width:768px) {
	.add-balance_3clp {
		-webkit-box-align: center;
		align-items: center;
		position: absolute;
		left: 50%;
		bottom: 70px;
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%)
	}
}

.task-icon_1yZf {
	width: 16px;
	height: 16px;
	background: url(https://n1image.hjfile.cn/res7/2020/10/22/3fd58d294e5778f7f577c5c538ecbc73.png) 50% no-repeat;
	background-size: cover;
	margin: 0 5px 3px;
	cursor: pointer
}

.question-icon_2KhB {
	width: 14px;
	height: 14px;
	background: url(https://n1image.hjfile.cn/res7/2020/10/22/bddab9e66f89ec16da75cf9180a4fce5.png) 50% no-repeat;
	background-size: cover;
	margin-left: 5px;
	cursor: pointer
}

@media (min-width:768px) {
	.question-icon_2KhB {
		position: absolute;
		right: 6px;
		top: 6px
	}
}

.height-light_2XuP {
	font-size: 13px;
	font-weight: 500;
	color: #ff852e
}

@media (min-width:768px) {
	.height-light_2XuP {
		height: 20px;
		font-size: 14px;
		color: #ff9801;
		line-height: 20px
	}
}

.task-entry_1-f6 {
	position: absolute;
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 60px;
	height: 26px;
	text-align: center;
	line-height: 26px;
	font-size: 13px;
	font-weight: 400;
	color: #fff;
	background: -webkit-linear-gradient(300deg,#fab06f,#fc683e);
	background: linear-gradient(150deg,#fab06f,#fc683e);
	box-shadow: 0 2px 6px 0 rgba(252,104,62,.36);
	border-radius: 13px;
	cursor: pointer
}

@media (min-width:768px) {
	.task-entry_1-f6 {
		width: 74px;
		position: static
	}
}

.rule-dialog_38fO .ui-dialog-mask {
	background-color: rgba(0,0,0,.7)
}

.rule-dialog_38fO .ui-dialog-main {
	border-radius: 12px
}

.success-container_Loux {
	width: 217px;
	height: 185px;
	border-radius: 8px;
	font-size: 16px;
	padding-top: 45px;
	position: relative
}

.share-container_jvst,.success-container_Loux {
	background: #fff;
	font-weight: 400;
	color: #2f3742;
	box-sizing: border-box;
	text-align: center
}

.share-container_jvst {
	width: 360px;
	height: 200px;
	border-radius: 6px;
	font-size: 14px;
	padding: 26px 30px 24px
}

.success-icon_29pZ {
	width: 180px;
	height: 144px;
	background: url(https://n1image.hjfile.cn/res7/2020/10/26/25bbd5113bdb5ad2aac962d0caff43c9.png) 50% no-repeat;
	background-size: cover;
	position: absolute;
	top: -80px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%)
}

.success-title_2sLw {
	height: 25px;
	font-size: 18px;
	font-weight: 500;
	color: #2f3742;
	line-height: 25px
}

.share-title_3eh3 {
	height: 28px;
	font-size: 20px;
	font-weight: 500;
	color: #2f3742;
	line-height: 28px
}

.success-text_H5R7 {
	margin: 20px 0 24px
}

.share-text_mXz1 {
	height: 48px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
	margin: 18px 0 24px
}

.balance_1TOb {
	color: #ff8c2c
}

.button_XurR,.share-button_305u {
	margin: 0 auto;
	width: 133px;
	height: 36px;
	line-height: 36px;
	background: -webkit-linear-gradient(300deg,#fab06f,#fc683e);
	background: linear-gradient(150deg,#fab06f,#fc683e);
	border-radius: 18px;
	font-size: 15px;
	font-weight: 500;
	color: #fff;
	cursor: pointer
}

.rule-container_dOnl {
	color: #2f3742;
	padding: 20px 10px;
	position: relative
}

.rule-title_BAJp {
	font-size: 18px;
	margin-bottom: 12px;
	font-weight: 500;
	height: 25px;
	line-height: 25px;
	text-align: center
}

.text-content_1ge4 {
	height: 140px
}

.text_1mdK {
	display: -webkit-box;
	display: flex;
	width: 235px;
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	padding-left: 10px;
	position: relative
}

.dot_3FZw {
	width: 5px;
	height: 5px;
	background: #ff8c2c;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 10px
}

.close-icon_3icJ {
	width: 26px;
	height: 26px;
	background: url(https://n1image.hjfile.cn/res7/2020/10/28/2bf56b4f50ef0c9e03bade8f338f37ee.png) 50% no-repeat;
	background-size: cover;
	margin: 0 5px;
	cursor: pointer;
	position: absolute;
	left: 50%;
	bottom: -50px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%)
}

.header-container_3VBt {
	padding: 20px 18px 0;
	width: 100%;
	height: 51.46666666666667vw;
	background: url(https://n1image.hjfile.cn/res7/2020/11/12/a2129177e7f1d731f114bd668de9a748.jpg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	font-size: 12px;
	color: #fff;
	box-sizing: border-box;
	position: relative
}

@media (min-width:410px) {
	.header-container_3VBt {
		height: 46.93333333333333vw
	}
}

@media (min-width:639px) {
	.header-container_3VBt {
		height: 30.666666666666664vw;
		background-position: 50%
	}
}

@media (min-width:750px) {
	.header-container_3VBt {
		padding: 18px;
		height: 155px;
		background-position: 50%
	}
}

.header-container-app_2ZiJ {
	padding: 85px 18px 0;
	height: 72vw
}

@media (min-width:410px) {
	.header-container-app_2ZiJ {
		height: 64.26666666666667vw
	}
}

@media (min-width:639px) {
	.header-container-app_2ZiJ {
		height: 30.666666666666664vw;
		background-position: 50%
	}
}

@media (min-width:768px) {
	.header-container-app_2ZiJ {
		height: 265px
	}
}

.my-coin-container_r54G {
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between
}

.my-coin-container_r54G,.my-coin-icon_2WEt {
	display: -webkit-box;
	display: flex
}

.coin-icon_3Aqj {
	width: 16px;
	height: 16px;
	background: url(https://n1image.hjfile.cn/res7/2020/10/22/3fd58d294e5778f7f577c5c538ecbc73.png) 50% no-repeat;
	background-size: cover
}

.my-coin_39si {
	height: 16px;
	font-weight: 500;
	line-height: 16px;
	margin-left: 5px
}

.integral-num-container_bSYo {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center
}

.integral-num-container_bSYo .days-num_2_NY {
	display: inline-block;
	color: #fff;
	font-size: 28px;
	margin-right: 10px;
	vertical-align: top
}

.integral-num-container_bSYo .days-num_2_NY.is-signed_2VHP .num-small-1_Kpfy {
	width: 12px
}

.integral-num-container_bSYo .days-num_2_NY.is-signed_2VHP .num-small-2_3VH9 {
	width: 17px
}

.integral-num-container_bSYo .days-num_2_NY.is-signed_2VHP .num-to-diff_1t_V .num-small-dot_17YM:first-child {
	margin-top: -40px
}

.integral-num-container_bSYo .num-small-first_3dk- {
	width: 0;
	-webkit-transition: width .4s cubic-bezier(.68,-.04,.26,1.55);
	transition: width .4s cubic-bezier(.68,-.04,.26,1.55);
	-webkit-transition-delay: 2.7s;
	transition-delay: 2.7s
}

.integral-num-container_bSYo .num-small_2hS- {
	vertical-align: top;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	text-align: center
}

.integral-num-container_bSYo .num-small_2hS-:last-child .num-small-dot_17YM {
	-webkit-transition-delay: 2.6s;
	transition-delay: 2.6s
}

.integral-num-container_bSYo .num-small_2hS-:nth-last-child(2) .num-small-dot_17YM {
	-webkit-transition-delay: 2.65s;
	transition-delay: 2.65s
}

.integral-num-container_bSYo .num-small_2hS-:nth-last-child(3) .num-small-dot_17YM {
	-webkit-transition-delay: 2.7s;
	transition-delay: 2.7s
}

.integral-num-container_bSYo .num-small_2hS-:nth-last-child(4) .num-small-dot_17YM {
	-webkit-transition-delay: 2.75s;
	transition-delay: 2.75s
}

.integral-num-container_bSYo .num-small_2hS-:nth-last-child(5) .num-small-dot_17YM {
	-webkit-transition-delay: 2.8s;
	transition-delay: 2.8s
}

.integral-num-container_bSYo .num-to-diff_1t_V .num-small-dot_17YM {
	-webkit-transition: margin-top .5s cubic-bezier(.68,-.04,.26,1.55);
	transition: margin-top .5s cubic-bezier(.68,-.04,.26,1.55)
}

.integral-num-container_bSYo .detail-entry_2iWY {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center;
	width: 45px;
	height: 18px;
	line-height: 18px;
	background: rgba(0,0,0,.1);
	border-radius: 12px;
	cursor: pointer
}

.integral-num-container_bSYo .arrows_2SLE {
	width: 6px;
	height: 6px;
	border: 1px solid #fff;
	border-width: 1px 1px 0 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg)
}

.due-tips_P8hF {
	height: 16px;
	font-weight: 400;
	line-height: 16px
}

.rule-tips_AkR8 {
	cursor: pointer
}

.rule-tips-icon_1Ht1 {
	width: 18px;
	text-align: center;
	border-radius: 50%;
	margin-right: 5px;
	background: rgba(0,0,0,.1)
}

.rule-tips-icon_1Ht1,.rule-tips-text_1cnK {
	display: inline-block;
	height: 18px;
	line-height: 18px
}

.rule-tips-text_1cnK {
	font-size: 12px;
	font-weight: 400;
	color: hsla(0,0%,100%,.8)
}

.sign-in-container_2TGu {
	padding: 13px 16px 0;
	box-sizing: border-box;
	height: 213px;
	color: #fff;
	background: -webkit-linear-gradient(top,#fffaf6,#fff);
	background: linear-gradient(180deg,#fffaf6,#fff);
	box-shadow: 0 0 16px 0 rgba(252,104,62,.2);
	border-radius: 8px;
	position: relative;
	margin: -95px 12px 0
}

@media (max-width:320px) {
	.sign-in-container_2TGu {
		margin: -60px 10px 0;
		padding: 8px 8px 0
	}
}

@media (min-width:768px) {
	.sign-in-container_2TGu {
		height: 140px;
		padding: 30px;
		margin-top: -55px
	}
}

.continuous_3s03 {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	position: absolute;
	top: 10px
}

@media (min-width:768px) {
	.continuous_3s03 {
		margin-bottom: 12px;
		position: static
	}
}

.sign-in-continuous-days_1XW4 {
	height: 28px;
	font-size: 14px;
	font-weight: 500;
	line-height: 28px;
	color: #2f3742;
	margin-right: 5px
}

.sign-in-continuous-days_1XW4.android-fix__lfK .days-num_2_NY {
	margin-top: -2px
}

.sign-in-continuous-days_1XW4 .days-num_2_NY {
	display: inline-block;
	color: #ff852e;
	font-size: 20px;
	margin: 0 1px;
	vertical-align: top
}

.sign-in-continuous-days_1XW4 .days-num_2_NY.is-signed_2VHP .num-small-1_Kpfy {
	width: 10px
}

.sign-in-continuous-days_1XW4 .days-num_2_NY.is-signed_2VHP .num-small-2_3VH9 {
	width: 14px
}

.sign-in-continuous-days_1XW4 .days-num_2_NY.is-signed_2VHP .num-to-diff_1t_V .num-small-dot_17YM:first-child {
	margin-top: -28px
}

.sign-in-continuous-days_1XW4 .num-small-first_3dk- {
	width: 0;
	-webkit-transition: width .4s cubic-bezier(.68,-.04,.26,1.55);
	transition: width .4s cubic-bezier(.68,-.04,.26,1.55);
	-webkit-transition-delay: 3.3s;
	transition-delay: 3.3s
}

.sign-in-continuous-days_1XW4 .num-small_2hS-:last-child .num-small-dot_17YM {
	-webkit-transition-delay: 3.2s;
	transition-delay: 3.2s
}

.sign-in-continuous-days_1XW4 .num-small_2hS-:nth-last-child(2) .num-small-dot_17YM {
	-webkit-transition-delay: 3.25s;
	transition-delay: 3.25s
}

.sign-in-continuous-days_1XW4 .num-small_2hS-:nth-last-child(3) .num-small-dot_17YM {
	-webkit-transition-delay: 3.3s;
	transition-delay: 3.3s
}

.sign-in-continuous-days_1XW4 .num-small_2hS-:nth-last-child(4) .num-small-dot_17YM {
	-webkit-transition-delay: 3.35s;
	transition-delay: 3.35s
}

.sign-in-continuous-days_1XW4 .num-small_2hS-:nth-last-child(5) .num-small-dot_17YM {
	-webkit-transition-delay: 3.4s;
	transition-delay: 3.4s
}

.sign-in-continuous-days_1XW4 .num-small_2hS- {
	vertical-align: top;
	display: inline-block;
	height: 28px;
	line-height: 28px;
	overflow: hidden;
	text-align: center
}

.sign-in-continuous-days_1XW4 .num-small-dot_17YM {
	display: block
}

.sign-in-continuous-days_1XW4 .num-to-diff_1t_V .num-small-dot_17YM {
	-webkit-transition: margin-top .5s cubic-bezier(.68,-.04,.26,1.55);
	transition: margin-top .5s cubic-bezier(.68,-.04,.26,1.55)
}

.continuous-tips-icon_3Kni {
	width: 14px;
	height: 14px;
	background: url(https://n1image.hjfile.cn/res7/2020/10/22/bddab9e66f89ec16da75cf9180a4fce5.png) 50% no-repeat;
	background-size: cover;
	cursor: pointer
}

.everyday-list_2DuL {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin: 32px 0 18px
}

@media (min-width:768px) {
	.everyday-list_2DuL {
		-webkit-box-pack: start;
		justify-content: flex-start;
		margin: 0
	}
}

.everyday-list_2DuL .sign-in-everyday_20ML {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center
}

@media (min-width:768px) {
	.everyday-list_2DuL .sign-in-everyday_20ML {
		margin-right: 16px
	}
}

.sign-in-card_1qq8 {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: end;
	justify-content: flex-end;
	width: 36px;
	height: 56px;
	background: #f2f3f7;
	-webkit-transition: background .6s ease-in-out;
	transition: background .6s ease-in-out;
	-webkit-transition-delay: 2.2s;
	transition-delay: 2.2s;
	border-radius: 4px
}

.already-sign-in-card_1m8c {
	background: #fff1a9
}

.sign-in-add-num_1NGG {
	font-size: 14px;
	color: #464d5c;
	position: relative;
	margin-bottom: -2px
}

.sign-in-add-num_1NGG .add-num-1_-9Jj,.sign-in-add-num_1NGG .add-num-2_1zYZ {
	display: block;
	color: #ff8c2c
}

.sign-in-add-num_1NGG .add-num-2_1zYZ {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	color: #464d5c;
	pointer-events: none;
	-webkit-transition: all .4s;
	transition: all .4s;
	-webkit-transition-delay: 2.2s;
	transition-delay: 2.2s
}

.already-sign-in-add-num_3R0_ .add-num-2_1zYZ {
	top: -100%;
	opacity: 0
}

.sign-in-coin-icon_12kh {
	width: 36px;
	height: 36px;
	overflow: hidden
}

.sign-in-coin-icon_12kh>span {
	display: block;
	width: 4000%;
	height: 100%;
	background: url(https://n1image.hjfile.cn/res7/2020/10/29/7676ad8bef41a059bcccf5042409dd82.png) 0 no-repeat;
	background-size: auto 100%
}

.already-sign-in-icon_3q3y>span {
	-webkit-transform: translateX(-97.5%);
	-ms-transform: translateX(-97.5%);
	transform: translateX(-97.5%)
}

.sign-in-day-num_3iPI {
	height: 17px;
	font-size: 12px;
	font-weight: 400;
	color: #95a1af;
	line-height: 17px;
	margin-top: 8px
}

.current-sign-in-card_3Dus {
	background: #fff1a9
}

.current-sign-in-card_3Dus .sign-in-coin-icon_12kh>span {
	-webkit-transform: translateX(-97.5%);
	-ms-transform: translateX(-97.5%);
	transform: translateX(-97.5%);
	-webkit-animation: loading_XfHn 4s steps(1) backwards;
	animation: loading_XfHn 4s steps(1) backwards
}

.current-sign-in-card_3Dus .add-num-2_1zYZ {
	top: -100%;
	opacity: 0
}

@media (min-width:768px) {
	.continuous-sign-in_PV4w {
		display: -webkit-box;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-webkit-box-align: center;
		align-items: center;
		position: absolute;
		right: 36px;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%)
	}
}

.immediately-sign-in-btn_ye4L {
	margin: 0 auto;
	position: relative;
	width: 250px;
	height: 40px;
	font-size: 15px;
	font-weight: 500;
	line-height: 40px;
	text-align: center
}

.immediately-sign-in-btn_ye4L .in-btn_14P3 {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 20px;
	cursor: pointer
}

.immediately-sign-in-btn_ye4L .in-btn-1_1GUJ {
	background: -webkit-linear-gradient(300deg,#fab06f,#fc683e);
	background: linear-gradient(150deg,#fab06f,#fc683e);
	box-shadow: 0 2px 6px 0 rgba(252,104,62,.36);
	-webkit-transition: opacity .45s ease-in;
	transition: opacity .45s ease-in
}

.immediately-sign-in-btn_ye4L .in-btn-2_2zS7 {
	background: #cfd4db;
	z-index: -1;
	opacity: 0;
	-webkit-transition: opacity .45s ease-out;
	transition: opacity .45s ease-out;
	-webkit-transition-delay: .1s;
	transition-delay: .1s
}

.already-sign-in-btn_16wS .in-btn-1_1GUJ {
	opacity: 0
}

.already-sign-in-btn_16wS .in-btn-2_2zS7 {
	opacity: 1;
	z-index: 0
}

.move-wrap_VUZN {
	position: fixed;
	opacity: 1;
	margin-left: 36px;
	margin-top: 36px
}

.move-wrap_VUZN .move-item-row_1erd {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 36px;
	height: 100%;
	-webkit-animation: ani-move-row_VQkT .7s forwards;
	animation: ani-move-row_VQkT .7s forwards
}

.move-wrap_VUZN .move-item-row_1erd:first-child,.move-wrap_VUZN .move-item-row_1erd:first-child .move-item-td_1fnT {
	-webkit-animation-delay: .6s;
	animation-delay: .6s
}

.move-wrap_VUZN .move-item-row_1erd:nth-child(2),.move-wrap_VUZN .move-item-row_1erd:nth-child(2) .move-item-td_1fnT {
	-webkit-animation-delay: .7s;
	animation-delay: .7s
}

.move-wrap_VUZN .move-item-row_1erd:nth-child(3),.move-wrap_VUZN .move-item-row_1erd:nth-child(3) .move-item-td_1fnT {
	-webkit-animation-delay: .8s;
	animation-delay: .8s
}

.move-wrap_VUZN .move-item-row_1erd:nth-child(4),.move-wrap_VUZN .move-item-row_1erd:nth-child(4) .move-item-td_1fnT {
	-webkit-animation-delay: .9s;
	animation-delay: .9s
}

.move-wrap_VUZN .move-item-row_1erd:nth-child(5),.move-wrap_VUZN .move-item-row_1erd:nth-child(5) .move-item-td_1fnT {
	-webkit-animation-delay: 1s;
	animation-delay: 1s
}

.move-wrap_VUZN .move-item-row_1erd:nth-child(6),.move-wrap_VUZN .move-item-row_1erd:nth-child(6) .move-item-td_1fnT {
	-webkit-animation-delay: 1.1s;
	animation-delay: 1.1s
}

.move-wrap_VUZN .move-item-row_1erd:nth-child(7),.move-wrap_VUZN .move-item-row_1erd:nth-child(7) .move-item-td_1fnT {
	-webkit-animation-delay: 1.2s;
	animation-delay: 1.2s
}

.move-wrap_VUZN .move-item-row_1erd:nth-child(8),.move-wrap_VUZN .move-item-row_1erd:nth-child(8) .move-item-td_1fnT {
	-webkit-animation-delay: 1.3s;
	animation-delay: 1.3s
}

.move-wrap_VUZN .move-item-row_1erd:nth-child(9),.move-wrap_VUZN .move-item-row_1erd:nth-child(9) .move-item-td_1fnT {
	-webkit-animation-delay: 1.4s;
	animation-delay: 1.4s
}

.move-wrap_VUZN .move-item-row_1erd:nth-child(10),.move-wrap_VUZN .move-item-row_1erd:nth-child(10) .move-item-td_1fnT {
	-webkit-animation-delay: 1.5s;
	animation-delay: 1.5s
}

.move-wrap_VUZN .move-item-row_1erd:nth-child(11),.move-wrap_VUZN .move-item-row_1erd:nth-child(11) .move-item-td_1fnT {
	-webkit-animation-delay: 1.6s;
	animation-delay: 1.6s
}

.move-wrap_VUZN .move-item-row_1erd:nth-child(12),.move-wrap_VUZN .move-item-row_1erd:nth-child(12) .move-item-td_1fnT {
	-webkit-animation-delay: 1.7s;
	animation-delay: 1.7s
}

.move-wrap_VUZN .move-item-td_1fnT {
	opacity: 0;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 36px;
	height: 36px;
	background: url(https://n1image.hjfile.cn/res7/2020/10/29/7676ad8bef41a059bcccf5042409dd82.png) 0 no-repeat;
	background-size: auto 100%;
	bottom: 100%;
	-webkit-animation: ani-move-td_1WKB .7s cubic-bezier(.15,.64,.3,1.27) forwards;
	animation: ani-move-td_1WKB .7s cubic-bezier(.15,.64,.3,1.27) forwards
}

@-moz-keyframes loading_XfHn {
	0% {
		transform: translateX(0)
	}

	2.5% {
		transform: translateX(-2.5%)
	}

	5% {
		transform: translateX(-5%)
	}

	7.5% {
		transform: translateX(-7.5%)
	}

	10% {
		transform: translateX(-10%)
	}

	12.5% {
		transform: translateX(-12.5%)
	}

	15% {
		transform: translateX(-15%)
	}

	17.5% {
		transform: translateX(-17.5%)
	}

	20% {
		transform: translateX(-20%)
	}

	22.5% {
		transform: translateX(-22.5%)
	}

	25% {
		transform: translateX(-25%)
	}

	27.5% {
		transform: translateX(-27.5%)
	}

	30% {
		transform: translateX(-30%)
	}

	32.5% {
		transform: translateX(-32.5%)
	}

	35% {
		transform: translateX(-35%)
	}

	37.5% {
		transform: translateX(-37.5%)
	}

	40% {
		transform: translateX(-40%)
	}

	42.5% {
		transform: translateX(-42.5%)
	}

	45% {
		transform: translateX(-45%)
	}

	47.5% {
		transform: translateX(-47.5%)
	}

	50% {
		transform: translateX(-50%)
	}

	52.5% {
		transform: translateX(-52.5%)
	}

	55% {
		transform: translateX(-55%)
	}

	57.5% {
		transform: translateX(-57.5%)
	}

	60% {
		transform: translateX(-60%)
	}

	62.5% {
		transform: translateX(-62.5%)
	}

	65% {
		transform: translateX(-65%)
	}

	67.5% {
		transform: translateX(-67.5%)
	}

	70% {
		transform: translateX(-70%)
	}

	72.5% {
		transform: translateX(-72.5%)
	}

	75% {
		transform: translateX(-75%)
	}

	77.5% {
		transform: translateX(-77.5%)
	}

	80% {
		transform: translateX(-80%)
	}

	82.5% {
		transform: translateX(-82.5%)
	}

	85% {
		transform: translateX(-85%)
	}

	87.5% {
		transform: translateX(-87.5%)
	}

	90% {
		transform: translateX(-90%)
	}

	92.5% {
		transform: translateX(-92.5%)
	}

	95% {
		transform: translateX(-95%)
	}

	97.5% {
		transform: translateX(-97.5%)
	}

	to {
		transform: translateX(-100%)
	}
}

@-webkit-keyframes loading_XfHn {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

	2.5% {
		-webkit-transform: translateX(-2.5%);
		transform: translateX(-2.5%)
	}

	5% {
		-webkit-transform: translateX(-5%);
		transform: translateX(-5%)
	}

	7.5% {
		-webkit-transform: translateX(-7.5%);
		transform: translateX(-7.5%)
	}

	10% {
		-webkit-transform: translateX(-10%);
		transform: translateX(-10%)
	}

	12.5% {
		-webkit-transform: translateX(-12.5%);
		transform: translateX(-12.5%)
	}

	15% {
		-webkit-transform: translateX(-15%);
		transform: translateX(-15%)
	}

	17.5% {
		-webkit-transform: translateX(-17.5%);
		transform: translateX(-17.5%)
	}

	20% {
		-webkit-transform: translateX(-20%);
		transform: translateX(-20%)
	}

	22.5% {
		-webkit-transform: translateX(-22.5%);
		transform: translateX(-22.5%)
	}

	25% {
		-webkit-transform: translateX(-25%);
		transform: translateX(-25%)
	}

	27.5% {
		-webkit-transform: translateX(-27.5%);
		transform: translateX(-27.5%)
	}

	30% {
		-webkit-transform: translateX(-30%);
		transform: translateX(-30%)
	}

	32.5% {
		-webkit-transform: translateX(-32.5%);
		transform: translateX(-32.5%)
	}

	35% {
		-webkit-transform: translateX(-35%);
		transform: translateX(-35%)
	}

	37.5% {
		-webkit-transform: translateX(-37.5%);
		transform: translateX(-37.5%)
	}

	40% {
		-webkit-transform: translateX(-40%);
		transform: translateX(-40%)
	}

	42.5% {
		-webkit-transform: translateX(-42.5%);
		transform: translateX(-42.5%)
	}

	45% {
		-webkit-transform: translateX(-45%);
		transform: translateX(-45%)
	}

	47.5% {
		-webkit-transform: translateX(-47.5%);
		transform: translateX(-47.5%)
	}

	50% {
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%)
	}

	52.5% {
		-webkit-transform: translateX(-52.5%);
		transform: translateX(-52.5%)
	}

	55% {
		-webkit-transform: translateX(-55%);
		transform: translateX(-55%)
	}

	57.5% {
		-webkit-transform: translateX(-57.5%);
		transform: translateX(-57.5%)
	}

	60% {
		-webkit-transform: translateX(-60%);
		transform: translateX(-60%)
	}

	62.5% {
		-webkit-transform: translateX(-62.5%);
		transform: translateX(-62.5%)
	}

	65% {
		-webkit-transform: translateX(-65%);
		transform: translateX(-65%)
	}

	67.5% {
		-webkit-transform: translateX(-67.5%);
		transform: translateX(-67.5%)
	}

	70% {
		-webkit-transform: translateX(-70%);
		transform: translateX(-70%)
	}

	72.5% {
		-webkit-transform: translateX(-72.5%);
		transform: translateX(-72.5%)
	}

	75% {
		-webkit-transform: translateX(-75%);
		transform: translateX(-75%)
	}

	77.5% {
		-webkit-transform: translateX(-77.5%);
		transform: translateX(-77.5%)
	}

	80% {
		-webkit-transform: translateX(-80%);
		transform: translateX(-80%)
	}

	82.5% {
		-webkit-transform: translateX(-82.5%);
		transform: translateX(-82.5%)
	}

	85% {
		-webkit-transform: translateX(-85%);
		transform: translateX(-85%)
	}

	87.5% {
		-webkit-transform: translateX(-87.5%);
		transform: translateX(-87.5%)
	}

	90% {
		-webkit-transform: translateX(-90%);
		transform: translateX(-90%)
	}

	92.5% {
		-webkit-transform: translateX(-92.5%);
		transform: translateX(-92.5%)
	}

	95% {
		-webkit-transform: translateX(-95%);
		transform: translateX(-95%)
	}

	97.5% {
		-webkit-transform: translateX(-97.5%);
		transform: translateX(-97.5%)
	}

	to {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%)
	}
}

@-o-keyframes loading_XfHn {
	0% {
		transform: translateX(0)
	}

	2.5% {
		transform: translateX(-2.5%)
	}

	5% {
		transform: translateX(-5%)
	}

	7.5% {
		transform: translateX(-7.5%)
	}

	10% {
		transform: translateX(-10%)
	}

	12.5% {
		transform: translateX(-12.5%)
	}

	15% {
		transform: translateX(-15%)
	}

	17.5% {
		transform: translateX(-17.5%)
	}

	20% {
		transform: translateX(-20%)
	}

	22.5% {
		transform: translateX(-22.5%)
	}

	25% {
		transform: translateX(-25%)
	}

	27.5% {
		transform: translateX(-27.5%)
	}

	30% {
		transform: translateX(-30%)
	}

	32.5% {
		transform: translateX(-32.5%)
	}

	35% {
		transform: translateX(-35%)
	}

	37.5% {
		transform: translateX(-37.5%)
	}

	40% {
		transform: translateX(-40%)
	}

	42.5% {
		transform: translateX(-42.5%)
	}

	45% {
		transform: translateX(-45%)
	}

	47.5% {
		transform: translateX(-47.5%)
	}

	50% {
		transform: translateX(-50%)
	}

	52.5% {
		transform: translateX(-52.5%)
	}

	55% {
		transform: translateX(-55%)
	}

	57.5% {
		transform: translateX(-57.5%)
	}

	60% {
		transform: translateX(-60%)
	}

	62.5% {
		transform: translateX(-62.5%)
	}

	65% {
		transform: translateX(-65%)
	}

	67.5% {
		transform: translateX(-67.5%)
	}

	70% {
		transform: translateX(-70%)
	}

	72.5% {
		transform: translateX(-72.5%)
	}

	75% {
		transform: translateX(-75%)
	}

	77.5% {
		transform: translateX(-77.5%)
	}

	80% {
		transform: translateX(-80%)
	}

	82.5% {
		transform: translateX(-82.5%)
	}

	85% {
		transform: translateX(-85%)
	}

	87.5% {
		transform: translateX(-87.5%)
	}

	90% {
		transform: translateX(-90%)
	}

	92.5% {
		transform: translateX(-92.5%)
	}

	95% {
		transform: translateX(-95%)
	}

	97.5% {
		transform: translateX(-97.5%)
	}

	to {
		transform: translateX(-100%)
	}
}

@keyframes loading_XfHn {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}

	2.5% {
		-webkit-transform: translateX(-2.5%);
		transform: translateX(-2.5%)
	}

	5% {
		-webkit-transform: translateX(-5%);
		transform: translateX(-5%)
	}

	7.5% {
		-webkit-transform: translateX(-7.5%);
		transform: translateX(-7.5%)
	}

	10% {
		-webkit-transform: translateX(-10%);
		transform: translateX(-10%)
	}

	12.5% {
		-webkit-transform: translateX(-12.5%);
		transform: translateX(-12.5%)
	}

	15% {
		-webkit-transform: translateX(-15%);
		transform: translateX(-15%)
	}

	17.5% {
		-webkit-transform: translateX(-17.5%);
		transform: translateX(-17.5%)
	}

	20% {
		-webkit-transform: translateX(-20%);
		transform: translateX(-20%)
	}

	22.5% {
		-webkit-transform: translateX(-22.5%);
		transform: translateX(-22.5%)
	}

	25% {
		-webkit-transform: translateX(-25%);
		transform: translateX(-25%)
	}

	27.5% {
		-webkit-transform: translateX(-27.5%);
		transform: translateX(-27.5%)
	}

	30% {
		-webkit-transform: translateX(-30%);
		transform: translateX(-30%)
	}

	32.5% {
		-webkit-transform: translateX(-32.5%);
		transform: translateX(-32.5%)
	}

	35% {
		-webkit-transform: translateX(-35%);
		transform: translateX(-35%)
	}

	37.5% {
		-webkit-transform: translateX(-37.5%);
		transform: translateX(-37.5%)
	}

	40% {
		-webkit-transform: translateX(-40%);
		transform: translateX(-40%)
	}

	42.5% {
		-webkit-transform: translateX(-42.5%);
		transform: translateX(-42.5%)
	}

	45% {
		-webkit-transform: translateX(-45%);
		transform: translateX(-45%)
	}

	47.5% {
		-webkit-transform: translateX(-47.5%);
		transform: translateX(-47.5%)
	}

	50% {
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%)
	}

	52.5% {
		-webkit-transform: translateX(-52.5%);
		transform: translateX(-52.5%)
	}

	55% {
		-webkit-transform: translateX(-55%);
		transform: translateX(-55%)
	}

	57.5% {
		-webkit-transform: translateX(-57.5%);
		transform: translateX(-57.5%)
	}

	60% {
		-webkit-transform: translateX(-60%);
		transform: translateX(-60%)
	}

	62.5% {
		-webkit-transform: translateX(-62.5%);
		transform: translateX(-62.5%)
	}

	65% {
		-webkit-transform: translateX(-65%);
		transform: translateX(-65%)
	}

	67.5% {
		-webkit-transform: translateX(-67.5%);
		transform: translateX(-67.5%)
	}

	70% {
		-webkit-transform: translateX(-70%);
		transform: translateX(-70%)
	}

	72.5% {
		-webkit-transform: translateX(-72.5%);
		transform: translateX(-72.5%)
	}

	75% {
		-webkit-transform: translateX(-75%);
		transform: translateX(-75%)
	}

	77.5% {
		-webkit-transform: translateX(-77.5%);
		transform: translateX(-77.5%)
	}

	80% {
		-webkit-transform: translateX(-80%);
		transform: translateX(-80%)
	}

	82.5% {
		-webkit-transform: translateX(-82.5%);
		transform: translateX(-82.5%)
	}

	85% {
		-webkit-transform: translateX(-85%);
		transform: translateX(-85%)
	}

	87.5% {
		-webkit-transform: translateX(-87.5%);
		transform: translateX(-87.5%)
	}

	90% {
		-webkit-transform: translateX(-90%);
		transform: translateX(-90%)
	}

	92.5% {
		-webkit-transform: translateX(-92.5%);
		transform: translateX(-92.5%)
	}

	95% {
		-webkit-transform: translateX(-95%);
		transform: translateX(-95%)
	}

	97.5% {
		-webkit-transform: translateX(-97.5%);
		transform: translateX(-97.5%)
	}

	to {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%)
	}
}

@-moz-keyframes ani-move-row_VQkT {
	0% {
		right: 0
	}

	to {
		right: 100%;
		margin-right: 3px
	}
}

@-webkit-keyframes ani-move-row_VQkT {
	0% {
		right: 0
	}

	to {
		right: 100%;
		margin-right: 3px
	}
}

@-o-keyframes ani-move-row_VQkT {
	0% {
		right: 0
	}

	to {
		right: 100%;
		margin-right: 3px
	}
}

@keyframes ani-move-row_VQkT {
	0% {
		right: 0
	}

	to {
		right: 100%;
		margin-right: 3px
	}
}

@-moz-keyframes ani-move-td_1WKB {
	0% {
		opacity: 1;
		bottom: 0
	}

	99% {
		opacity: 1
	}

	to {
		opacity: 0;
		bottom: 100%;
		transform: scale(.6);
		transform-origin: left top;
		margin-bottom: 2px
	}
}

@-webkit-keyframes ani-move-td_1WKB {
	0% {
		opacity: 1;
		bottom: 0
	}

	99% {
		opacity: 1
	}

	to {
		opacity: 0;
		bottom: 100%;
		-webkit-transform: scale(.6);
		transform: scale(.6);
		-webkit-transform-origin: left top;
		transform-origin: left top;
		margin-bottom: 2px
	}
}

@-o-keyframes ani-move-td_1WKB {
	0% {
		opacity: 1;
		bottom: 0
	}

	99% {
		opacity: 1
	}

	to {
		opacity: 0;
		bottom: 100%;
		transform: scale(.6);
		transform-origin: left top;
		margin-bottom: 2px
	}
}

@keyframes ani-move-td_1WKB {
	0% {
		opacity: 1;
		bottom: 0
	}

	99% {
		opacity: 1
	}

	to {
		opacity: 0;
		bottom: 100%;
		-webkit-transform: scale(.6);
		transform: scale(.6);
		-webkit-transform-origin: left top;
		transform-origin: left top;
		margin-bottom: 2px
	}
}

.exchange-container_3DgY {
	padding: 0 18px;
	height: 28px;
	font-size: 20px;
	font-weight: 500;
	color: #2f3742;
	line-height: 28px
}

.header_2phT {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	justify-content: space-between;
	margin-bottom: 12px
}

.header-title_x5yC {
	height: 28px;
	color: #2f3742;
	font-size: 20px;
	font-weight: 500;
	line-height: 28px
}

.c-coin_1521 {
	color: #ff852e
}

.exchange-entry_MugG {
	height: 16px;
	font-size: 14px;
	font-weight: 400;
	color: #2f3742;
	line-height: 16px;
	cursor: pointer;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	-webkit-box-pack: center;
	justify-content: center
}

.arrows_NQ15 {
	width: 6px;
	height: 6px;
	border: 1px solid #2f3742;
	border-width: 1px 1px 0 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg)
}

.list_2tZU {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	justify-content: space-between
}

.item_V4Tg {
	width: 42.66666666666667vw;
	background: #fff;
	border-radius: 6px;
	border: 1px solid #f6f7f9;
	margin-bottom: 12px;
	cursor: pointer
}

@media (max-width:320px) {
	.item_V4Tg {
		width: 135px
	}
}

@media (min-width:768px) {
	.item_V4Tg {
		padding: 10px;
		width: 360px;
		box-sizing: border-box;
		display: -webkit-box;
		display: flex;
		position: relative
	}
}

.head-map_2yQ4 {
	width: 100%;
	padding-top: 56.25%;
	border-radius: 6px 6px 0 0;
	position: relative
}

@media (min-width:768px) {
	.head-map_2yQ4 {
		padding: 0;
		width: 140px;
		border-radius: 6px
	}
}

.head-img_1gnn {
	width: 100%;
	height: 100%!important;
	object-fit: cover;
	position: absolute!important;
	top: 0;
	left: 0;
	border-radius: 6px 6px 0 0
}

.head-img_1gnn.ui-better-image-blur {
	padding-top: 0!important
}

@media (min-width:768px) {
	.head-img_1gnn {
		border-radius: 6px
	}
}

.coupon-price_2Z_v {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-70%,-50%);
	-ms-transform: translate(-70%,-50%);
	transform: translate(-70%,-50%);
	font-size: 12px;
	font-weight: 400;
	color: #95a1af
}

.discount-amount_22JM {
	font-size: 16px
}

.coupon_1fsF {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 24px;
	background: url(https://n1image.hjfile.cn/res7/2020/11/04/a700e3a36784c7320b253941a21b8765.png) 50% no-repeat;
	background-size: cover
}

@media (max-width:320px),(min-width:768px) {
	.coupon_1fsF {
		height: 20px
	}
}

.discount_1tO4 {
	width: 70px;
	height: 28px;
	font-size: 12px;
	font-weight: 400;
	text-align: center;
	color: #ff5c41;
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}

@media (min-width:768px) {
	.discount_1tO4 {
		-webkit-transform: translate(-10%,-50%);
		-ms-transform: translate(-10%,-50%);
		transform: translate(-10%,-50%)
	}
}

.discount-num_1Qt0 {
	font-size: 16px
}

@media (min-width:768px) {
	.discount-num_1Qt0 {
		font-size: 14px
	}
}

.info_2yuu {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	padding: 10px 10px 8px
}

@media (min-width:768px) {
	.info_2yuu {
		max-width: 180px;
		padding: 0 10px
	}
}

.title_1uf6 {
	height: 40px;
	font-size: 14px;
	color: #2f3742;
	line-height: 20px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	word-break: break-all
}

.desc_2Hha,.title_1uf6 {
	font-weight: 400;
	overflow: hidden
}

.desc_2Hha {
	width: 100%;
	height: 17px;
	font-size: 12px;
	color: #95a1af;
	line-height: 17px;
	text-overflow: ellipsis;
	white-space: nowrap
}

.price-info_28Vv {
	font-size: 13px;
	font-weight: 400;
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
	margin-top: 5px
}

.price_2ULq {
	display: inline-block;
	height: 28px;
	line-height: 28px;
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.price-over_1MTY,.price_2ULq {
	font-weight: 500;
	color: #ff852e
}

.price-over_1MTY {
	font-size: 14px
}

.unit_3loP {
	line-height: 29px;
	color: #2f3742;
	margin: 0 5px 0 2px
}

.line-price_1kPb,.unit_3loP {
	display: inline-block;
	height: 28px;
	flex-shrink: 0
}

.line-price_1kPb {
	line-height: 31px;
	color: #95a1af;
	text-decoration: line-through;
	font-size: 12px
}

.exchange-btn_2bH8 {
	margin: 5px auto;
	width: 80px;
	height: 26px;
	background: #fc683e;
	border-radius: 13px;
	font-size: 13px;
	font-weight: 400;
	color: #fff;
	line-height: 27px;
	text-align: center;
	cursor: pointer
}

@media (min-width:768px) {
	.exchange-btn_2bH8 {
		margin: 0;
		width: 50px;
		height: 20px;
		line-height: 20px;
		border-radius: 12px;
		position: absolute;
		right: 12px;
		bottom: 12px
	}
}

.exhaust_1VyT {
	background: #cfd4db
}